.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
}
.mar {
    margin-right: 30px;
    justify-content: space-evenly;
    display: flex;
    padding-bottom: 10px;
}
