.wrapper {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}
@media (max-width: 768px) {
  .wrapper {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }
}

.wrapper .menu.wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 768px) {
  .wrapper .menu.wrapper {
    width: 100%;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }
}

img {
  display: block;
  width: 40%;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
}
.menu .wrapper {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger {
  border: 1.5px solid #908c8c;
  color: #908c8c;
}

span {
  color: #000;
  text-decoration: none;
  font-weight: 700;
}

span:hover {
  text-decoration: underline;
  font-weight: 700;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}

.space {
  display: flex;
  padding-top: 15rem;
  padding-left: 20px;
  color: #908c8c;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 20%;
  border-right: 1px solid transparent;
}

.navbar .logo {
  display: flex;
  margin-bottom: 3.75rem;
  padding-left: 1.875rem;
  padding-top: 1.875rem;
}

.navbar ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  line-height: 1.5;
  margin-top: 1.875rem;
}

.navbar ul li a {
  text-decoration: none;
  color: #908c8c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 10px 15px 10px 25px;
}

.navbar ul li a:hover {
  text-decoration: underline;
}

.navbar ul li a i {
  margin-right: 5px;
}

@media (max-width: 2560px) {
  .inner2 {
    display: none;
  }
  .menu.inner2 {
    display: none;
  }
  .menu {
    display: none;
  }
  .space {
    padding-top: 20.625rem;
  }
}
@media (max-width: 768px) {
  .navbar {
    display: none;
  }
  .menu {
    display: flex;
  }
}
@media (max-width: 1440px) {
  .space {
    padding-top: 18.75rem;
  }
}
@media (max-width: 1024px) {
  .space {
    padding-top: 15rem;
  }
}
.main-content {
  width: 100%;
  margin: 0 auto;
  float: left;
  padding-left: 20%;
}

.container {
  position: relative;
  width: 33%;
  float: left;
  flex-direction: row-reverse;
  display: flex;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: 0.3s ease;
}

.container:hover .overlay {
  transform: scale(1);
}

.text {
  color: #908c8c;
  font-size: 20px;
  position: absolute;
  border-top: 1.5px solid #908c8c;
  border-bottom: 1.5px solid #908c8c;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
}

@media (max-width: 425px) {
  .main-content {
    padding: 0%;
  }
  .main-content .container {
    width: 100%;
    float: left;
    flex-direction: column;
    display: flex;
  }
}
@media (max-width: 768px) {
  .main-content {
    width: 100%;
    padding: 0;
  }
  .container {
    width: 50%;
    float: left;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row-reverse;
  }
}/*# sourceMappingURL=index.css.map */