.card {
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    overflow: hidden;
    transition: transform 0.2s;
}

.card-img-top {
    height: 140px;
    object-fit: cover;
}

.card-body {
    padding: 1.25rem;
}

.card:hover {
    transform: scale(1.05);
    border: solid 2px yellow;
}
